<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="MovieAPIUrl" value="http://api.cinemalytics.com/v1/movie/year/{0}/?auth_token={1}"/>
    <add key="MovieAuthToken" value="YOURAUTHTOKEN"/>
    <add key="MovieYearStartingLatest" value="2016"/>
    <add key="MovieEndingYearOldest" value="1951"/>
    <add key="TreasureHuntUrl" value="http://wanderfull-microchip.weebly.com/{0}-{1}.html"/>
  </appSettings>
</configuration>